@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(212, 170, 0);
}
@theme {
  --color-primary: var(--primary);
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1920px) {
  html,
  body {
    font-size: 100%;
  }
}

@media screen and (max-width: 1700px) {
  html,
  body {
    font-size: 90%;
  }
}

@media screen and (max-width: 1500px) {
  html,
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 1300px) {
  html,
  body {
    font-size: 70%;
  }
}
